body {
    background-color: #FFF;
    background: linear-gradient(to bottom, transparent, white 50%), url("../image/banner.png") 0px -400px no-repeat;
    background-size: 100% 1200px;
}

nav {
    -moz-user-select: none;
    user-select: none;
    opacity: 0.94;
    transition: opacity 100ms linear;
}

nav:hover {
    opacity: 0.97;
    transition: opacity 50ms linear;
}

footer {
    background-color: #FFF;
    text-align: right;
    margin-top: -12px;
    padding-bottom: 5px;
    -moz-user-select: none;
    user-select: none;
    border-radius: 0px 0px 7px 7px;
}

.navbar-brand {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    color: #111 !important;
}

.task-stat-box {
    height: 44px;
    background-color: rgba(255,255,255,.87);
    border: 0.5px solid #CCC;
    border-left: none;
    text-align: center;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: background-color 160ms linear;
}

.task-stat-box:hover {
    background-color: rgba(255,255,255,1);
    transition: background-color 200ms linear;
}

.stat-count {
    margin-left: 5%;
}

.pending {
    background: linear-gradient(to bottom, #777777, #333333);
    opacity: 0.8;
    transition: opacity 200ms linear;
}

tr:hover > .pending {
    background: linear-gradient(to bottom, #555555, #333333);
    opacity: 0.9;
    transition: opacity 200ms linear;
}

.completed {
    background: linear-gradient(to top, #70903b, #5cb85c);
    opacity: 0.8;
    transition: opacity 200ms linear;
}

tr:hover > .completed {
    background: linear-gradient(to top, #44892b, #5cb85c);
    opacity: 0.9;
    transition: opacity 200ms linear;
}

.started {
    background: linear-gradient(to bottom,#448ac7 0,#265a88 100%);
    opacity: 0.8;
    transition: opacity 200ms linear;
}

tr:hover > .started {
    background: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
    opacity: 0.9;
    transition: opacity 200ms linear;
}

#main-box {
    border-radius: 7px 7px 7px 7px;
    box-shadow: 2px 0px 15px 3px rgba(33,33,33,0.15);
    border: 0.5px solid rgba(33,33,33,0.15);
}

#add-task-container-box {
    background-color: rgba(255,255,255,0.95);
    border-radius: 7px 7px 0px 0px;
}

#task-stats-container {

}

#task-table-container {
    padding-top: 15px;
    background-color: rgba(255,255,255,0.96);
}

#task-table-container > table > tbody > tr > td {
    vertical-align: middle;
}

#total-tasks-count {
    background-color: rgba(255,255,255,.87);
    border-bottom: 0.5px solid #CCC;
    text-align: center;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: background-color 160ms linear;
}

#total-tasks-count:hover {
    background-color: rgba(255,255,255,1);
    transition: background-color 200ms linear;
}

#the-date {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #999;
    margin-top: 75px;
    margin-bottom: -45px;
    padding-top: 10px;
    text-align: right;
    z-index: 10;
    -moz-user-select: none;
    user-select: none;
}