body{
    background-color: #FFF;
    background: linear-gradient(to bottom, transparent, white 50%), url("../image/banner.test.png") 0px -400px no-repeat;
    background-size: 100% 1200px;
}

.task-stat-box {
    height: 44px;
    background-color: rgba(255,255,255,.85);
    border: 0.5px solid #CCC;
    border-left: none;
    text-align: center;
}

.task-stat-box:hover {
    background-color: rgba(255,255,255,1);
    transition: background-color 200ms linear;
}

.stat-count {
    margin-left: 5%;
}

.late {
    background: linear-gradient(to bottom, #d10000, #FF0000);
}

tr:hover > .late {
    background: linear-gradient(to bottom, #d10000, #CC0000);
}

.completed {
    background: #5cb85c;
}

tr:hover > .completed {
    background: linear-gradient(to top, #44802b, #5cb85c);
}

.started {
    background: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
}

tr:hover > .started {
    background: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
}

#main-box {
    box-shadow: 2px 0px 15px 3px rgba(33,33,33,0.15);
}

#add-task-container-box {
    background-color: rgba(255,255,255,0.95);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#task-stats-container {

}

#task-table-container {
    padding-top: 15px;
    background-color: rgba(255,255,255,0.96);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;;
}

#total-tasks-count {
    background-color: rgba(255,255,255,.85);
    border-bottom: 0.5px solid #CCC;
    text-align: center;
}

#total-tasks-count:hover {
    background-color: rgba(255,255,255,1);
    transition: background-color 200ms linear;
}

#the-date {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    color: #FFF;
    margin-top: 75px;
    padding-top: 10px;
    text-align: right;
}

#the-date > span {

}